@font-face {
    font-family: 'comfortaathin';
    src: url('../fonts/comfortaa_thin-webfont.eot');
    src: url('../fonts/comfortaa_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/comfortaa_thin-webfont.woff2') format('woff2'),
         url('../fonts/comfortaa_thin-webfont.woff') format('woff'),
         url('../fonts/comfortaa_thin-webfont.ttf') format('truetype'),
         url('../fonts/comfortaa_thin-webfont.svg#comfortaathin') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/Montserrat-Bold-webfont.eot');
    src: url('../fonts/Montserrat-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Montserrat-Bold-webfont.woff') format('woff'),
         url('../fonts/Montserrat-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Montserrat-Bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
a{
  text-decoration: none;
}
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img{
    position: absolute;
  max-width: 60%;
  top: 20%;
  left: 21%;
}
body{
    font-family: 'comfortaathin';
    font-size: 100%;
}
.cd-nav-trigger {
  position: fixed;
  top: 20px;
  left: 5%;
  width: 44px;
  height: 44px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(232, 74, 100, 0.4);
  /* image replacement */
  text-indent: 100%;
  white-space: nowrap;
  z-index: 2;
}
.cd-nav-trigger span {
  /* the span element is used to create the menu icon */
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background: #e84a64;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
}
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  content: '';
  position: absolute;
  left: 0;
  background: inherit;
  width: 100%;
  height: 100%;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s, background 0s;
  -moz-transition: -moz-transform 0.3s, background 0s;
  transition: transform 0.3s, background 0s;
}
.cd-nav-trigger span::before {
  top: -6px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
.cd-nav-trigger span::after {
  bottom: -6px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
#header{
  position: fixed;
  text-align: center;
  top:20px;
  font-family: 'comfortaathin';
  font-size: 30px;
}
#overlay{ /* we set all of the properties for are overlay */
    height:100%;
    width:100%;
    background:#34495e;
    color:black;
    position:absolute;
    z-index:1000;
    display:none;
}
/* use :target to look for a link to the overlay then we find are mask */
#overlay:target, #overlay:target + #mask{
    display:block;
    opacity:1;
    opacity: 0.90;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}
li{
  display: inline;
  text-decoration: none;
}
#one{
  font-family: 'montserratbold';
  font-size: 45px;
  color:#2DCC70;
}
#two{
  font-family: 'montserratbold';
  font-size: 45px;
  color:#3598DB;
}
#three{
  font-family: 'montserratbold';
  text-decoration: none;
  font-size: 45px;
  color:#8D44AD;
}
#four{
  font-family: 'montserratbold';
  font-size: 45px;
  color:#16A086;
}
#five{
  font-family: 'montserratbold';
  font-size: 45px;
  color:#F1C40F;
}
#six{
  font-family: 'montserratbold';
  font-size: 45px;
  color:#E84C3D;
}
#rss{
  width:60%;
  padding: 14px 26px;
  font-size: 14px;
  line-height: 100%;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
  color: #333;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.1s ease-in-out;
  -webkit-transition: background 0.1s ease-in-out;
  -moz-transition: background 0.1s ease-in-out;
  -ms-transition: background 0.1s ease-in-out;
  -o-transition: background 0.1s ease-in-out;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #ebf7f9;
  box-shadow: 0px 4px 0px 0px #dce5e7;
  font-family: 'Comfortaa', cursive;
  z-index: 0;
}
a#rssa {
  text-decoration: none;
  font-family: 'Comfortaa', cursive;
  color: #873136;
}
#rss:active {
  padding-top: 15px;
        margin-bottom: -1px;
}
#rss, #rss:hover, #rss:active {
  outline: 0 none;
  text-decoration: none;
}
#rss:hover {
  background-color: #f06060;
  box-shadow: 0px 4px 0px 0px #ca5152;
}
#rss:active {
  box-shadow: 0px 1px 0px 0px #dce5e7;
}
#content{
  background-color: #dce5e7;
}
#title{
  font-family: 'montserratbold';
  font-size: 45px;
  color:#34495e;
  position: fixed;
  top:80px;
  left:7%;
}
#firstp{
  font-family: 'montserratbold';
  font-size: 20px;
  color:#34495e;
  position: fixed;
  top:150px;
  left:7%;
  text-decoration: none;
}
#subject{
  font-family: 'montserratbold';
  font-size: 25px;
  color:#34495e;
}
#nostyle{
  text-decoration: none;
  color:#34495e;
}
#press{
  color:#d04449;
  text-decoration: none;
}
#press:hover{
  color:white;
  text-decoration: none;
}
@media only screen 
    and (max-device-width: 640px), 
    only screen and (max-device-width: 667px), 
    only screen and (max-width: 480px)
{
  #title{
  font-family: 'montserratbold';
  font-size: 35px;
  color:#34495e;
  position: fixed;
  top:80px;
  left:7%;
}
#firstp{
  font-family: 'montserratbold';
  font-size: 14px;
  color:#34495e;
  position: fixed;
  top:150px;
  left:7%;
}
 }